.button {
  outline: none;
  padding: 0;
  cursor: pointer;
  border: none;
  transition: opacity 0.3s linear 0.1s;
}

.button:hover {
  opacity: 0.8;
}

.button_more {
  width: 100%;
  height: 36px;
  background: #2f2f2f;
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
  margin-top: 50px;
  /* margin-bottom: 70px; */
}

.button-login {
  background: #4285f4;
  border-radius: 3px;
  height: 45px;
  color: #ffffff;
  margin-top: 69px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.button-login_margin-top {
  margin-top: 179px;
}

.button_disabled {
  background: #bbbbbb;
  cursor: no-drop;
}

@media screen and (max-width: 992px) {
  .button_more {
    margin-top: 61px;
    /* margin-bottom: 89px; */
  }
}

@media screen and (max-width: 576px) {
  .button-login {
    margin-top: 157px;
  }

  .button-login_margin-top {
    margin-top: 267px;
  }
}
