.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .navigation {
    display: none;
  }
}

.link__navigation {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
  }
  
  .link__navigation_save-films {
    font-weight: normal;
    margin-left: 16px;
  }
