.popup {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);

  opacity: 1;
  display: none;
  justify-content: flex-end;
  z-index: 2;
}

.popup_opened {
  display: flex;
}

@media screen and (min-width: 992px) {
  .popup_opened {
    display: none;
  }
}

.popup-container {
  background: #202020;
  height: 100vh;
  width: 520px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 159px;
}

.popup__close-button {
  position: absolute;
  top: 22px;
  right: 22px;
  background-image: url("../../images/close.svg");
  width: 28px;
  height: 28px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  padding: 0;
}

.popup__close-button:hover {
  opacity: 0.6;
}

.popup__close-button:focus {
  outline: none;
}
