.no-films {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-films__title {
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  opacity: .2;
}

@media screen and (max-width: 992px) {
  .no-films__title {
    font-size: 30px;
    line-height: 40px;
  }
}

@media screen and (max-width: 576px) {
  .no-films__title {
    font-size: 20px;
    line-height: 30px;
  }
}
