.search-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  margin: 70px 0 47px 0;
}

.search-form__fieldset {
  border: none;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #424242;
  padding: 0;
  align-items: center;
  margin: 0;
  margin-bottom: 30px;
}

.search-form__fieldset:last-of-type {
  border: 0;
  margin: 0;
}

.search-form__label {
  width: 100%;
}

.search-form__input {
  width: 100%;
  padding: 0;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #8b8b8b;
  height: 34px;
  background-color: transparent;
  padding: 13px 0;
  outline: none;
  border: none;
  cursor: pointer;
}

.search-form__input:hover {
  opacity: 0.8;
}

.search-form__button {
  width: 38px;
  height: 34px;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  background-image: url("../../../images/button.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.search-form__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 992px) {
  .search-form {
    margin: 80px 0 60px 0;
  }
}

@media screen and (max-width: 576px) {
  .search-form {
    margin: 84px 0 50px 0;
  }

  .search-form__input {
    font-size: 18px;
    line-height: 22px;
    padding: 9px 0;
  }
}
